<div class="container">
  <div class="row my-5">
    <div class="w-auto mx-auto">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h1 class="card-text text-monospace text-center">Keep comics <small class="text-muted">-<%= @keep_comics.count %>-</small></h1>
        </div>
      </div>
    </div>
  </div>

    <%= render 'comics/login_index', comics: @keep_comics, all_tags: @all_tags %>

    <div class="col-12 text-center"><%= paginate @keep_comics %></div>
    <!--ページング機能-->

</div>