<div class="container">
  <h1 class="text-center my-4">Keep Comics</h1>
  <div class="row">

    <%= render 'comics/login_index', comics: @keep_comics %>

    <div class="col-12 text-center"><%= paginate @keep_comics %></div>
    <!--ページング機能-->

  </div>
</div>