<div class="container">
  <h2 class="text-center my-4">Keep Comics</h2>
  <div class="row">

    <%= render 'comics/index', comics: @keep_comics %>

    <div class="col-12 text-center"><%= paginate @keep_comics %></div>
    <!--ページング機能-->

  </div>
</div>
