<div class="container">
  <h2 class="text-center my-4">All Comics</h2>
  <div class="row">

    <%= render 'index', comics: @comics %>

    <div class="col-12 text-center"><%= paginate @comics %></div>
    <!--ページング機能-->

  </div>
</div>

