<div class="container">
  <h1 class="text-center my-5 text-monospace">All Comics</h1>
  <div class="row">

    <% if user_signed_in? %>
      <%= render 'login_index' , comics: @comics %>
    <% else %>
      <%= render 'index' , comics: @comics %>
    <% end %>

    <div class="col-12 text-center"><%= paginate @comics %></div>
    <!--ページング機能-->

  </div>
</div>

