<div class="container">
  <div class="row my-5">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">

      <div class="card">
        <%= image_tag 'top.png',class:'card-img-top' %>
        <div class="card-body">
          <h1 class="card-title">Welcom to Comic mania !!</h1>
          <p class="card-text">
            <strong>Comic mania </strong>ではあなたが読んだ漫画の感想を手軽に「投稿」できます<br>
            みんなの投稿を見て気になる漫画を「読みたいリスト」に追加することもできます<br>
          </p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              アカウント作成、ログインしてはじめる！<br>
              <%= link_to "アカウント作成", new_user_registration_path, class:"btn btn-outline-primary my-2" %>
              <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-secondary my-2" %>
            </li>
            <li class="list-group-item">
              アカウント作成せずにみんなの投稿を見る！<br>
              <i class="fas fa-exclamation-triangle"></i>「投稿」と「読みたいリスト」を利用するにはアカウントが必要です<br>
              <%= link_to "All Comics", comics_path, class:"btn btn-outline-info my-2" %>
            </li>
          </ul>


      </div>

  </div>
</div>

